<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.local.KeyRemapping.VP4910.plist</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/bin/hidutil</string>
			<string>property</string>
			<string>--matching</string>
			<string>{"ProductID": 0x34f}</string>
			<string>--set</string>
			<string>
{
	"UserKeyMapping":[
		{
			"HIDKeyboardModifierMappingSrc": 0x700000005,
			"HIDKeyboardModifierMappingDst": 0x70000005A
		},
		{
			"HIDKeyboardModifierMappingSrc": 0x70000003E,
			"HIDKeyboardModifierMappingDst": 0x70000005B
		},
		{
			"HIDKeyboardModifierMappingSrc": 0xC000000E9,
			"HIDKeyboardModifierMappingDst": 0x700000030
		},
		{
			"HIDKeyboardModifierMappingSrc": 0xC000000EA,
			"HIDKeyboardModifierMappingDst": 0x700000035
		}
	]
}
			</string>
		</array>
		<key>RunAtLoad</key>
		<true />
	</dict>
</plist>
