.background {
	fill: #15a355;
}
.frames {
	fill: none;
	stroke: white;
	stroke-width: 8px;
}
#logos, #cams {
	fill: #74c0a1;
}
text {
	fill: white;
	font-family: Sunbeat;
	text-anchor: middle;
	font-size: 72px;
}
.names {
	fill: white;
	font-family: Sunbeat;
	text-anchor: middle;
	font-size: 36px;
}
