@import "../../gp/html/stylesheet.css";
.call2action {
	background: linear-gradient(to bottom, white, #31c8f3);
	color: white
}

.element {
	border-radius: 5px
}

.element:after {
	border-radius: 5px;
	transform: skew(0deg)
}

.message,
.theme {
	background: white;
	color: #31c8f3
}

#presenterLogo {
	border-radius: 50%;
	border: 5px solid;
	height: 80px;
	right: 10px;
	top: 10px
}

body {
	background: url(https://yt3.ggpht.com/_NvLkiX9SiXPytnyuwGZfVz3b1VI44C_Yk3uX1vAeS0nvkvTn7WEXIFhB42JDFGGgvCin7kL=w1280);
	background: url(https://yt3.ggpht.com/g7AVR3Cl1D1kuR-VQVH7N171lbM7Q8tARJEK8OBfrbmc4oe3ueTxOsJeqQ1NBTXuYt92dNrapw);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Comic Sans MS";
	font-size: 16px;
}
