@import "../../gp/html/stylesheet.css";
#hostLogo {
	height: 134px;
	width: auto
}

.call2action {
	background: linear-gradient(to bottom, white, #23b1d1);
	color: white
}

.element {
	border-radius: .25em
}

.element:after {
	display: none;
}

.message,
.theme {
	background: white;
	color: #23b1d1
}

#clockLogo {
	right: calc(182.5px - 150px/2);
	top: calc(193px - 30px);
	width: 150px
}

#presenterLogo {
	border-radius: 50%;
	border: 5px solid;
	height: 80px;
	right: 10px;
	top: 10px
}

body {
	background: no-repeat fixed url(https://yt3.ggpht.com/g7AVR3Cl1D1kuR-VQVH7N171lbM7Q8tARJEK8OBfrbmc4oe3ueTxOsJeqQ1NBTXuYt92dNrapw=w1280);
	background-size: cover;
	font-family: "Comic Sans MS";
	font-size: 16px
}
