body {
	background: transparent;
}

.banner {
	bottom: 45%;
	font-size: 32px;
	left: 5%;
	position: absolute
}

.button {
	animation: goB 10s steps(1, end) infinite;
	background-color: rgba(204, 0, 0);
	border: 0;
	border-radius: 2px;
	color: white;
	font-size: inherit;
	padding: .5em;
}

.icons {
	height: 2.5em;
	position: relative;
	top: .95em
}

#thumb {
	animation: goA 10s steps(1, end) infinite;
	display: inline;
	fill: rgba(144, 144, 144)
}

#bell_before {
	animation: goC 10s steps(1, end) infinite
}

#bell_after {
	animation: goD 10s steps(1, end) infinite
}

.button::before {
	animation: animate 10s steps(1, end) infinite;
	content: "ABONNIEREN"
}

@keyframes animate {
	0% {
		content: "ABONNIEREN"
	}
	60% {
		content: "ABONNIERT"
	}
}

@keyframes goA {
	0% {
		fill: rgba(144, 144, 144)
	}
	20% {
		fill: rgba(6, 95, 212)
	}
}

@keyframes goB {
	0% {
		opacity: 0
	}
	40% {
		background-color: rgba(204, 0, 0);
		opacity: 1
	}
	60% {
		background-color: rgba(144, 144, 144)
	}
}

@keyframes goC {
	0% {
		opacity: 0
	}
	60% {
		opacity: 1
	}
	80% {
		opacity: 0
	}
}

@keyframes goD {
	0% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
}
