.background {
	fill: #3c9;
	height: 100%;
	width: 100%
}

.buntdenker {
	transform: translate(50%, 50%)
}

.frames {
	fill: none;
	stroke: url(#lg);
	stroke-width: 5px
}

.logo {
	dominant-baseline: central;
	filter: url(#flooder);
	font-family: Sunbeat;
	font-size: 62px
}

.lutzcams {
	transform: translate(10%, 55%)
}

.lutzyt,
.lutzbackground,
.lutz {
	transform: translate(25%, 55%)
}

.markuscams {
	transform: translate(90%, 45%)
}

.markusyt,
.markusbackground,
.markus {
	transform: translate(75%, 45%)
}

.names {
	dominant-baseline: central;
	font-family: Sunbeat;
	font-size: 36px
}

.small {
	height: 196px;
	width: 196px
}

@font-face {
	font-family: Sunbeat;
	src: url(sunbeat.otf)
}

circle.buntdenker {
	fill: url(#Buntdenker);
	filter: url(#grayscale)
}

circle.lutz {
	fill: url(#Lutz)
}

circle.lutzcams,
circle.lutzbackground {
	fill: url(#LutzBackground)
}

circle.lutzyt {
	fill: url(#LutzYT)
}

circle.markus {
	fill: url(#Markus)
}

circle.markuscams,
circle.markusbackground {
	fill: url(#MarkusBackground)
}

circle.markusyt {
	fill: url(#MarkusYT)
}

feflood {
	flood-color: #c36;
	flood-opacity: 90%
}

text {
	dominant-baseline: central;
	fill: white;
	font-family: courier;
	font-size: 48px;
	text-anchor: middle
}
