@font-face {
	font-family: Sunbeat;
	src: url(sunbeat.otf)
}

feFlood {
	flood-color: #cc3366;
	flood-opacity: 90%
}

.Buntdenker {
	transform: translate(50%, 50%)
}

.LutzCams {
	transform: translate(90%, 45%)
}

.LutzYT,
.LutzBackground,
.Lutz {
	transform: translate(75%, 45%)
}

.MarkusCams {
	transform: translate(10%, 55%)
}

.MarkusYT,
.MarkusBackground,
.Markus {
	transform: translate(25%, 55%)
}

.LutzSolo,
.MarkusSolo {
	transform: translate(50%, 50%)
}

.background {
	fill: #3c9;
	height: 100%;
	width: 100%
}

.frames {
	fill: none;
	stroke: url(#lg);
	stroke-width: 5px
}

.logo {
	dominant-baseline: central;
	filter: url(#flooder);
	font-family: Sunbeat;
	font-size: 62px
}

.names {
	dominant-baseline: central;
	font-family: Sunbeat;
	font-size: 36px
}

.small {
	height: 196px;
	width: 196px
}

circle.Buntdenker {
	fill: url(#Buntdenker);
	filter: url(#grayscale)
}

circle.Lutz {
	fill: url(#Lutz)
}

circle.LutzCams,
circle.LutzBackground,
circle.LutzSolo {
	fill: url(#LutzBackground)
}

circle.LutzYT {
	fill: url(#LutzYT)
}

circle.Markus {
	fill: url(#Markus)
}

circle.MarkusCams,
circle.MarkusBackground,
circle.MarkusSolo {
	fill: url(#MarkusBackground)
}

circle.MarkusYT {
	fill: url(#MarkusYT)
}

text {
	dominant-baseline: central;
	fill: #FFF;
	font-family: courier;
	font-size: 48px;
	text-anchor: middle
}
