@import "../../gp/html/stylesheet.css";

@font-face {
	font-family: Sunbeat;
	src: url(https://verstaerker-583.github.io/obs/bd/svg/sunbeat.otf)
}

.call2action {
	background: linear-gradient(to bottom, #c9ae93, #50593c);
}

.element {
	border-radius: 5px;
}

.element:after {
	content: none;
}

.message {
	background: #edc9af;
	color: white;
}

.theme {
	background: #edc9af;
	color: #50593c;
}

body {
	background-image: url("https://markus-mauthe.de/site/assets/files/1/dsc6707.jpg");
	background-size: cover;
	background: #edc9af;
	font-family: Sunbeat;
}
