body {
	background-color: transparent !important;
	overflow: hidden;
}

yt-live-chat-author-chip #author-name {
	background-color: transparent !important;
}

yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
	display: none !important;
}

yt-live-chat-item-list-renderer #items {
	overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller {
	overflow: hidden !important;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
	display: none !important;
}

yt-live-chat-paid-message-renderer #header {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

yt-live-chat-renderer {
	background-color: transparent !important;
}

yt-live-chat-renderer * {
	/*
	font-family: "Helvetica Neue" !important;
	font-size: 20px !important;
	line-height: 20px !important;
	*/
}

yt-live-chat-text-message-renderer #author-badges {
	display: none !important;
}

yt-live-chat-text-message-renderer #author-name::after {
	content: ":";
	margin-left: 2px;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
	color: #73be1e !important;
}

yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
	color: #73be1e !important;
}

yt-live-chat-text-message-renderer #author-photo {
	display: none !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
	overflow: initial !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
	background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
	background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
	background-color: transparent !important;
}

yt-live-chat-ticker-renderer {
	display: none !important;
}

yt-live-chat-ticker-renderer {
	background-color: transparent !important;
	box-shadow: none !important;
}
