#alarmHand {
	stroke: #ff0032;
	visibility: hidden
}

#banner {
	position: absolute;
	transform: rotate(-5deg);
	transform-origin: right top
}

#channelIcon {
	border: 5px solid;
	border-radius: 50%;
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
	left: calc(182px - 206px/2);
	padding: 8px;
	position: absolute;
	top: calc(273px - 206px/2);
	width: 180px
}

#chat {
	bottom: 10px;
	position: absolute;
	right: 10px
}

#clock {
	border: 5px solid currentColor;
	border-radius: 50%;
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
	height: 196px;
	position: absolute;
	right: calc(182.5px - 206px/2);
	top: calc(193px - 206px/2);
	width: 196px
}

#clockFace {
	fill: #fff
}

#clockLogo {
	height: 100px;
	position: absolute;
	right: calc(182.5px - 100px/2);
	top: calc(193px - 40px);
	width: 100px;
	z-index: -1
}

#description {
	bottom: 10px;
	left: calc(50% - 1em);
	position: absolute
}

#hostLogo {
	bottom: 10px;
	position: absolute;
	right: 10px
}

#hourHand,
#minuteHand {
	stroke: #fff
}

#infocards {
	position: absolute;
	right: 100px;
	top: 2px
}

#organizationLogo,
#organizationLogoNeg {
	bottom: 10px;
	height: auto;
	left: 10px;
	position: absolute;
	width: 340px
}

#presenterLogo {
	height: 135px;
	position: absolute;
	right: 0;
	top: 0
}

#secondHand {
	stroke: #ff0
}

#videoThumb {
	border: 5px solid;
	border-radius: 10px;
	bottom: calc(226px - 234px/2 - 5px);
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
	height: 234px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	transform: translate(-50%, 0%);
	width: 416px
}

.arrows {
	border-radius: 50%;
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
	display: inline-block;
	height: 1.6em;
	line-height: 1.6em;
	text-align: center;
	width: 1.6em
}

.call2action {
	background: linear-gradient(to bottom, #ff0032, #480019);
	font-size: 200%
}

.element {
	display: inline-block;
	margin-bottom: .2em;
	padding-left: .2em;
	padding-right: .2em;
	position: relative
}

.element:after {
	background: inherit;
	bottom: 0;
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
	content: "";
	left: 0;
	outline: solid transparent;
	position: absolute;
	right: 0;
	top: 0;
	transform: skew(-10deg);
	transform-origin: right bottom;
	z-index: -1
}

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both
}

.message {
	background: #73be1e;
	font-size: 200%
}

.message_neg {
	background: #fff;
	color: #73be1e;
	font-size: 200%
}

.shadow {
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.theme {
	background: #ff0;
	color: #000;
	font-size: 100%
}

@keyframes heartbeat {
	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91)
	}
	15% {
		animation-timing-function: ease-out;
		transform: scale(0.98)
	}
	30% {
		animation-timing-function: ease-in;
		transform: scale(0.87)
	}
	45% {
		animation-timing-function: ease-out;
		transform: scale(1)
	}
	from {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center
	}
}

body {
	background: #73be1e;
	color: #fff;
	font-family: "Helvetica Neue";
	font-size: 18px;
	font-weight: 700
}
