#bell_after {
	animation: bell_after 10s steps(1, end) infinite
}

#bell_before {
	animation: bell_before 10s steps(1, end) infinite
}

#like {
	animation: like 10s steps(1, end) infinite
}

#share {
	animation: share 10s steps(1, end) infinite
}

.subscribe {
	animation: subscribe 10s steps(1, end) infinite;
	background-color: rgba(204, 0, 0);
	border: 0;
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
	color: #fff;
	font-size: inherit;
	padding: .5em;
	padding-left: 1em;
	padding-right: 1em;
	text-transform: uppercase
}

.subscribe::before {
	animation: content 10s steps(1, end) infinite;
	content: "abonnieren"
}

.youtube {
	font-size: 32px;
	left: 405px;
	position: absolute;
	bottom: 110px;
	transform: translateY(-50%)
}

.yticons {
	fill: rgba(144, 144, 144);
	height: 2em;
	position: relative;
	top: .75em
}

body {
	background: transparent
}

@keyframes bell_after {
	0% {
		opacity: 0
	}
	60% {
		opacity: 1
	}
}

@keyframes bell_before {
	0% {
		opacity: 0
	}
	45% {
		opacity: 1
	}
}

@keyframes subscribe {
	0% {
		opacity: 0
	}
	30% {
		opacity: 1
	}
	45% {
		background-color: rgba(144, 144, 144)
	}
}

@keyframes content {
	45% {
		content: "abonniert"
	}
}

@keyframes like {
	15% {
		fill: rgba(6, 95, 212)
	}
}

@keyframes share {
	0% {
		opacity: 0
	}
	75% {
		opacity: 1
	}
	85% {
		fill: rgba(6, 95, 212)
	}
}
